@font-face {
  font-family: "SFRegular";
  src: url("SFUIText-Regular.otf") format("truetype");
}

:root {
  --cor-fundo: ##f9f9f9;
  --cor-letra: #333333;
  --cor-letra2: #7f7f7f;
  --cor-menu:#e6e6e6;
  --cor-aux:#BEC3C7;
  --cor-apple: #1e90ff;
}
:root.dark{
  --cor-fundo: #1f1f1f;
  --cor-letra: #e1e1e1;
  --cor-letra2: #b3b3b3;
  --cor-aux:#BEC3C7;
  --cor-menu:#2c2c2c;
  --cor-apple: #0071c5;
}
body {
  background-color: var(--cor-fundo);
  margin: 0;
  padding: 0;
  font-family: "SFRegular";
}

::-webkit-scrollbar {
  display: none;
}

header {
  background-color: var(--cor-menu);
  color: var(--cor-letra);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px 20% 20px;
  border-radius: 18px;
  padding: 20px;
  border: var(--cor-letra) 2px solid;
}

#title {
  text-align: center;
  font-size: 35px;
}

.title2 {
  text-align: center;
  font-size: 35px;
  text-decoration: none;
  color: var(--cor-letra2);
}
.title2:hover {
  text-align: center;
  font-size: 35px;
  text-decoration: none;
  color: var(--cor-letra2);
  transition: 0.5s;
  opacity: 0.7;
}

#intro {
  color: var(--cor-letra);
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  margin: 40px 300px;
}
.image {
  max-width: 50%;
  margin-bottom: 40px;
}

.space {
  font-size: 40px;
  margin: auto 20px;
  color: var(--cor-letra);
}

#options {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .space {
    display: none;
  }

  #header {
    flex-direction: column;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.form-signin {
  background: var(--cor-menu);
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  text-align: center;
}

.form-signin input {
  width: 90%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#btnConfirm {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
#btnConfirm:hover {
  background-color: #347536;
  transition: 0.2s;
}
#questoes{
  color: var(--cor-letra);
}

#cad {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: -20px -20px 20px;
  padding: 5px;
  background: var(--cor-letra2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
#restrita {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 50px auto;
  padding: 5px;
  background: var(--cor-apple);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

#titleLogin {
  text-align: center;
  font-size: 35px;
  color: var(--cor-letra);
}
.text-center {
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
}
#criar-conta {
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  color: var(--cor-apple);
}
#criar-conta:hover {
  transition: 0.2s;
  opacity: 0.7;
}

.btnSair {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  margin-top: 20px;
  background-color: #d12c38;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.btnSair:hover {
  background-color: #a3222b;
  transition: 0.2s;
}
#respostas{
  display: block;
  margin: 20px 20%;
  border-radius: 20px;
  padding: 5px;
  color: var(--cor-letra);
  align-items: center;
  text-align: center;
  background-color: var(--cor-menu);
}

.resp{
  background-color: var(--cor-fundo);
  margin: 20px auto;
  border-radius: 20px;
  border: var(--cor-letra) 2px solid;
  display: inline-block;
  line-height: 2.0;
  vertical-align: middle;
  color: var(--cor-letra);
  font-size: 21px;
  text-align: center;
  padding: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
#restrita-rep {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  text-transform: uppercase;
  font-size: 20px;
  color: var(--cor-letra);
  margin: 200px 10%;
  border-radius: 20px;
  padding: 5px;
  background: var(--cor-menu);
  border: var(--cor-letra) 2px solid;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
#pontos{
  background-color: var(--cor-fundo);
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  border: var(--cor-apple) 2px solid;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
  background-color: var(--cor-menu);
    display: none;
    position: absolute;
    border-radius: 10px;
}
.dropdown-child a {
    color: var(--cor-letra2);
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.dropdown-child a:hover {
    transition: 0.5s;
    opacity: 0.7;
}
#btnEdit {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: #4128d1;
  color: white;
  padding: 10px 20px;
  border: none;
  margin: auto 10px;
  margin-bottom: -20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
#btnApagar {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: #d12c38;
  color: white;
  margin: auto 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
#btnApagar:hover, #btnEdit:hover {
  opacity: 0.7;
  transition: 0.2s;
}
.form-control{
  text-align: center;
}
.form-control:read-only{
  color: var(--cor-letra);
  background-color: var(--cor-letra2);
}
#perfil {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: var(--cor-letra);
  margin: 50px 20%;
  border-radius: 20px;
  padding: 20px;
  background: var(--cor-menu);
  border: var(--cor-letra) 2px solid;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
#theme{
  margin: 50px auto;
}
.ações{
  margin: -20px 20px 10px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.label{
  margin-top: 20px; 
  color: var(--cor-letra);
}
